
//
// VARIABLES
//

// Font stacks
$helvetica: 'Rubik', sans-serif;
$helveticaNeue: 'Rubik', sans-serif;
$georgia: 'Rubik', sans-serif;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
