<div class="main" role="main">
  <div class="container">

    <div class="row">
      <div class="col-sm-6">

        <!-- Marketing -->
        <div class="marketing">
          <div class="app-meta">
            {% if site.enable.app_icon %}
              <img
                class="app-icon"
                style="min-width: 92px;"
                height="auto"
                {% if site.app.icon %} src="{{ site.app.icon }}"{% endif %}
              />
            {% endif %}
            <span class="app-name"><strong>{{ site.app.name }}</strong></span>
          </div>

          {% if site.marketing_header %}
          <!-- <h2 class="marketing-header">{{ site.marketing_header }}</h2> -->
          {% endif %}
          <div class="download-buttons">
            <a
              class="download-btn btn btn-lg"
              href="https://itunes.apple.com/app/id{{ site.app.ios_id }}?mt=8&at={% include apple-affiliate.html %}">
              <i class="fa fa-apple fa-lg" aria-hidden="true"></i> App Store
            </a>

            {% if site.app.android_id %}
            <a
              class="download-btn btn btn-lg"
              href="https://play.google.com/store/apps/details?id={{ site.app.android_id }}">
              <i class="fa fa-android fa-lg" aria-hidden="true"></i> Google Play
            </a>
            {% endif %}
          </div>

          <div class="marketing-desc">
            <h1><a id="16Hours__Intermittent_Fasting_and_Weight_Tracker_0"></a>Intermittent Fasting and Weight Tracker.</h1>
<p>Tired of the long gym routines and the abstemious diet plans? Want to lose weight in a more efficient yet less forceful way? Then intermittent fasting is just the routine you’ve been looking for! Intermittent fasting varies from fasting the whole day to fasting in different parts of the day to control food intake. It is an eating pattern that cycles between periods of fasting and eating. It doesn’t specify which foods you should eat but rather when you should eat them. In this respect, it’s not a diet in the conventional sense but more accurately described as an eating pattern.</p>
<p>Intermittent fasting has become quite popular in the recent years, as it is more focused on how you should eat rather than when.  Moreover, you can always drink stuff while fasting. The bulk of the early research on fasting focused on weight loss. Studies comparing intermittent fasting to traditional calorie-cutting diets have found that intermittent fasting is more effective in weight loss as compared to the conventional diet plans, people lose more weight on the fasting plans. They also seem to like the diet better; intermittent fasters tend to drop out of dietary studies at lower rates than calorie cutters. So, with intermittent fasting, you don’t have to push your taste buds aside to push your waistline in. However, overeating in the eating sessions may leave no effect on your weight. Hence, to attain the best from intermittent fasting, you need to create a balance in your lifestyle.</p>
<h3><a id="These_are_the_most_popular_methods_for_intermittent_fasting_5"></a>These are the most popular methods for intermittent fasting:</h3>
<ul>
<li>The 16/8 method: Also called the Leangains protocol, it involves skipping breakfast and restricting your daily eating period to 8 hours, such as 1–9 p.m. Then you fast for 16 hours in between.</li>
<li>Eat-Stop-Eat: This involves fasting for 24 hours, once or twice a week, for example by not eating from dinner one day until dinner the next day.</li>
<li>The 5:2 diet: With this method, you consume only 500–600 calories on two non-consecutive days of the week, but eat normally the other 5 days.</li>
</ul>
<p>When you don’t eat for a while, several things happen in your body, insulin levels drop and human growth hormone increases. Your cells also initiate important cellular repair processes and change which genes they express. Many of the benefits of intermittent fasting are related to these changes in hormones, gene expression, and function of cells. Intermittent fasting enhances hormone function to facilitate weight loss. Lower insulin levels and increased amounts of norepinephrine (noradrenaline) all increase the breakdown of body fat and facilitate its use for energy. For this reason, short-term fasting actually increases your metabolic rate helping you burn even more calories. In other words, intermittent fasting works on both sides of the calorie equation. It boosts your metabolic rate (increases calories out) and reduces the amount of food you eat (reduces calories in).<br>
Sustainable weight loss, protection from diabetes, heart disease, and cancer, improved brain health, enhanced physical fitness and strength. So, interested in trying intermittent fasting? Then 16Hours is just the application to start your fasting venture with! Loaded with features to aid your weight-loss targets, 16Hours lets you plan your fasting sessions to have the most from your intermittent fasting. So, 16Hours is a must-have if you want to give intermittent fasting a go.</p>
<h2><a id="Features_13"></a>Features:</h2>
<p>16Hours comes with a variety of features to help you with your intermittent fasting sprees.</p>
<h5><a id="Edit_fasting_start_time_and_end_time_16"></a>Edit fasting start time and end time:</h5>
<p>Depending on your lifestyle, you will want to set different times for your intermittent fasting. If you sleep before midnight and wake up at noon, you’d certainly like to have those hours counted in your intermittent fasting sessions. 16Hours adds flexibility to your fasting schedule by letting you edit the start time and end time of your fasting. That way you can adjust the timing of your fasting according to your schedule. Never miss a moment of the time you commit to your schedule!</p>
<h5><a id="View_week_wise_fasting_19"></a>View week wise fasting</h5>
<p>With all the hard work you are willing to put in intermittent fasting, you’d surely like to know how far you’ve come, won’t you? That’s where 16Hours comes to help. With its “View Week Wise Fasting” feature, it presents a detailed summary of your weekly progress, including the start time, the duration of the fast, and the status of weight. That way you can easily keep a track of your progress, or give yourself a nudge of motivation if you find yourself lagging! Moreover, the graphical representation of your weekly progress lets you witness how much you have achieved.</p>
<h5><a id="Track_weight_22"></a>Track weight</h5>
<p>16Hours allows you to keep tabs on your weight. After each fasting or when the time completes as you scheduled it before, you will be asked to add your current weight. So, every time when you complete your fasting of a day, you will enter the weight. The app stores it and shows you in week wise fasting analysis report, so that you can have a clear check on your progress. This can help you know how you can plan your fasting sessions to achieve the best results. Moreover, the joy of having the weight drop confirmed by 16Hours is a given. So, the next time you make progress with your weight-loss targets, it’s not just your waistline that feels the difference!</p>
<h5><a id="Custom_Plan_Hours_25"></a>Custom Plan Hours</h5>
<p>As intermittent fasting can be observed through a lot of methods, 16Hours lets you plan your fasting through “Custom Plan Hours”. Through this feature, you can decide how much time you would like to invest in your fasting sessions. This feature not only adds flexibility to your schedule but also facilitates you to better plan your sessions in accordance with your lifestyle and your targets. There are two default hours provided by the app, one is of 13 hours and other of 16 hours, but flexibility is given to the user to choose custom plan hours of his/her choice.</p>
<h5><a id="Flexibility_of_Stopping_28"></a>Flexibility of Stopping</h5>
<p>When the timer starts after the start time has reached as scheduled by you, there is always a flexibility to stop the fasting. As life is unpredictable, there is always the possibility that you have to break your fasting. In order to assist these issues, 16Hours helps its user by providing flexibility to stop the timer of fasting. Once the timer gets to stop, you will be asked to write your weight and the data will be stored for the day.</p>
<h5><a id="Other_Options_30"></a>Other Options</h5>
<p>16Hours provides its user with two notifications options, Fast Ended, and Remainder, to help keep them aware of their fasting everytime. Moreover, you have the flexibility of changing the weight units from kilograms (kg) to pounds.</p>
<p>Intermittent fasting goes beyond just a weight loss. It improves health issues, helps prevent cancer, diabetes and provides strength and fitness to our body. But all of these benefits can be achieved by having a proper tool to control and monitor your daily progress rate.  16Hours is just the right platform for you, that not only have the flexibility of fasting hours but a proper weekly weight analysis report to help keep you aware of the progress all the time.</p>
          </div>
          <div class="download-buttons">
            <a
              class="download-btn btn btn-lg"
              href="https://itunes.apple.com/app/id{{ site.app.ios_id }}?mt=8&at={% include apple-affiliate.html %}">
              <i class="fa fa-apple fa-lg" aria-hidden="true"></i> App Store
            </a>

            {% if site.app.android_id %}
            <a
              class="download-btn btn btn-lg"
              href="https://play.google.com/store/apps/details?id={{ site.app.android_id }}">
              <i class="fa fa-android fa-lg" aria-hidden="true"></i> Google Play
            </a>
            {% endif %}
          </div>
        </div>
      </div>


      <div class="col-sm-6">

        <!-- App Preview or Screenshot(s) -->
        <div class="device {{ site.device }}">
          {% if site.app.video %}
               <div class="video-container">
                <iframe src="{{ site.app.video }}" height="426.66" width="240" allowfullscreen="" frameborder="0">
                </iframe>
              </div>

          {% else %}
               <img
                class="app-screenshot"
                {% if site.app.screenshot %}src="{{ site.app.screenshot }}"{% endif %}
               />
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>

<div class="social">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include social.html %}
      </div>
    </div>
  </div>
</div>


<div class="footer">
  <div class="container">
    <!-- footer text here -->
  </div>
</div>
